<header class="site-header">
  <div class="photos">
    <div class="row">
      <div class="c1">
        <ul id="nav">
          <li><a href="https://www.instagram.com/cardiff.ph/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <a class="site-title" href="{{ site.baseurl }}/">
        <img class="c2" src="{{ "/images/logo.png" | prepend: site.baseurl }}"/>
      </a>

      <div class="c4">
        <ul id="nav">
          <li><a href="/about">About</a></li>
          <li><a href="http://clients.jmcardiff.com/">Clients</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
