body.home {
  text-align: center;

  img {
    vertical-align: text-top;
  }
}


$photo-unit-width:  292px;
$photo-unit-height: 215px;
$photo-margin-horizontal: 24px;
$photo-margin-vertical: 22px;
$columns: 4;
$rows: 10;

.photos {
  position: relative;
  margin: 0 auto;
  width: ($columns - 1) * $photo-margin-horizontal + $columns * $photo-unit-width;

  .row {
    height: $photo-unit-height + $photo-margin-vertical;
    width: 100%;
    margin: 0;

    @for $i from 1 through $rows {
      &:nth-child(#{$i}) {
        top: ($i - 1) * ($photo-unit-height + $photo-margin-vertical);
      }
    }
  }

  img {
    position: absolute;

    & {
      width: $photo-unit-width;
      height: $photo-unit-height;
    }
    &.dw { width: 2 * $photo-unit-width + $photo-margin-horizontal; }
    &.dh { height: 2 * $photo-unit-height + $photo-margin-vertical; }

    @for $i from 1 through $columns {
      &.c#{$i} {
        left: ($i - 1) * ($photo-unit-width + $photo-margin-horizontal);
      }
    }
  }

  &.anim {
    img {
      opacity:0;

      &.show {
        opacity: 1;
        transition: opacity 1.5s;
      }
    }
  }
}
